In [125]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [126]:
# 데이터 크롤링 모듈
from bs4 import BeautifulSoup
import re

In [127]:
# 데이터 분석 모듈
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime
import requests

In [128]:
# KBO 크롤링
# 우선 타자 분석이라 예시로 가져옴
site_list_num = 1
url = f"https://www.koreabaseball.com/Record/Player/HitterBasic/Basic{site_list_num}.aspx"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# 선수들 데이터 목록 가져옴
Player_infos = soup.find_all("tr")

list_columns = ["순위", "선수명", "팀명", "타율", "경기수", "타석", "타수", "득점", "안타", "2루타",
                "3루타", "홈런","루타","타점", "희생번트", "희생플라이"]
df_pl_data = pd.DataFrame(columns=list_columns)

bodys = soup.select("div[id=cphContents_cphContents_cphContents_udpContent] > div[class=record_result] > table > tbody > tr")


for pl_infos in bodys:

    list_tds = pl_infos.select("td")

    row_datas = []
    for td in list_tds:
        row_datas.append(td.text)

    series = pd.Series(row_datas, index=list_columns)
    df_pl_data = df_pl_data.append(series, ignore_index=True)

,순위,선수명,팀명,타율,경기수,타석,타수,득점,안타,2루타,3루타,홈런,루타,타점,희생번트,희생플라이
0,1,페르난데스,두산,0.366,97,451,396,73,145,23,0,16,216,77,0,7
1,2,손아섭,롯데,0.352,91,399,347,67,122,27,0,7,170,59,1,6
2,3,김현수,LG,0.346,98,432,387,72,134,27,1,20,223,82,0,3
3,4,이정후,키움,0.344,98,432,384,64,132,36,4,14,218,74,2,6
4,5,강진성,NC,0.341,78,288,264,43,90,18,0,12,144,54,2,5
5,6,로하스,KT,0.339,94,420,380,78,129,28,1,33,258,90,0,3
6,7,오재일,두산,0.333,80,340,309,41,103,21,0,11,157,57,0,1
7,8,최형우,KIA,0.329,91,389,334,59,110,21,1,12,169,59,0,2
8,9,이명기,NC,0.329,87,344,310,54,102,14,2,1,123,35,2,3
9,10,박민우,NC,0.326,75,315,279,49,91,17,2,4,124,31,1,6
10,11,나성범,NC,0.320,88,406,362,80,116,26,2,27,227,84,0,1
11,12,강백호,KT,0.318,79,348,305,59,97,22,1,16,169,54,0,3
12,13,김상수,삼성,0.316,77,325,275,48,87,17,1,3,115,27,1,2
13,14,정훈,롯데,0.315,64,294,254,52,80,14,1,8,120,42,1,2
14,15,정수빈,두산,0.312,94,368,330,56,103,11,5,3,133,41,6,1
15,16,박해민,삼성,0.312,85,331,308,50,96,13,3,7,136,35,4,0
16,17,구자욱,삼성,0.312,73,315,276,39,86,15,0,8,125,43,0,3
17,18,배정대,KT,0.309,94,399,346,59,107,22,3,10,165,43,4,2
18,19,조용호,KT,0.309,86,306,262,49,81,11,0,0,92,19,1,1
19,20,양의지,NC,0.309,81,321,275,49,85,18,0,15,148,69,1,5
20,21,박건우,두산,0.306,90,391,346,76,106,28,0,12,170,49,0,5
21,22,마차도,롯데,0.306,92,370,327,49,100,23,1,9,152,51,1,5
22,23,터커,KIA,0.302,93,410,354,68,107,23,0,24,202,72,0,0
23,24,라모스,LG,0.300,92,384,337,58,101,14,1,30,207,67,0,4
24,25,최주환,두산,0.299,95,389,348,46,104,21,2,11,162,61,1,5
25,26,김재호,두산,0.298,76,303,262,35,78,11,1,2,97,27,1,5
26,27,황재균,KT,0.296,84,371,335,64,99,26,2,12,165,56,2,2
27,28,김하성,키움,0.295,97,443,373,84,110,15,1,22,193,79,3,3
28,29,알테어,NC,0.294,87,345,309,64,91,14,5,21,178,76,0,2
29,30,장성우,KT,0.293,88,298,256,26,75,9,0,8,108,58,8,5

In [132]:
df_pl_data.astype("int32")

ValueError: invalid literal for int() with base 10: '페르난데스'

In [131]:
df_pl_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      30 non-null     object
 1   선수명     30 non-null     object
 2   팀명      30 non-null     object
 3   타율      30 non-null     object
 4   경기수     30 non-null     object
 5   타석      30 non-null     object
 6   타수      30 non-null     object
 7   득점      30 non-null     object
 8   안타      30 non-null     object
 9   2루타     30 non-null     object
 10  3루타     30 non-null     object
 11  홈런      30 non-null     object
 12  루타      30 non-null     object
 13  타점      30 non-null     object
 14  희생번트    30 non-null     object
 15  희생플라이   30 non-null     object
dtypes: object(16)
memory usage: 3.9+ KB