In [1]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [2]:
from bs4 import BeautifulSoup
import re

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime
import requests

In [4]:
# KBO 팀별 타자기록 크롤링
url = f"https://www.koreabaseball.com/Record/Team/Hitter/Basic2.aspx"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

Player_infos = soup.find_all("tr")

list_columns = ["순위", "팀명", "AVG", "BB", "IBB", "HBP", "SO", "GDP", "SLG", "OBP", "OPS", "MH", "RISP", "PH-BA"]
team_hitter = pd.DataFrame(columns=list_columns)

bodys = soup.select("div[id=cphContents_cphContents_cphContents_udpContent] > div[class=record_result] > table > tbody > tr")


for pl_infos in bodys:

    list_tds = pl_infos.select("td")

    row_datas = []
    for td in list_tds:
        row_datas.append(td.text)

    series = pd.Series(row_datas, index=list_columns)
    team_hitter = team_hitter.append(series, ignore_index=True)

In [5]:
team_hitter

,순위,팀명,AVG,BB,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,두산,0.300,350,14,48,556,95,0.438,0.367,0.805,97,0.304,0.241
1,2,NC,0.291,329,11,66,647,71,0.470,0.363,0.833,94,0.334,0.291
2,3,LG,0.284,337,15,51,666,79,0.444,0.354,0.798,98,0.329,0.200
3,4,KT,0.283,351,9,30,722,68,0.440,0.355,0.795,94,0.278,0.194
4,5,롯데,0.275,335,13,38,549,88,0.403,0.348,0.751,92,0.272,0.216
5,6,키움,0.273,423,12,55,700,81,0.423,0.358,0.781,101,0.290,0.273
6,7,KIA,0.272,348,5,44,653,70,0.406,0.350,0.756,94,0.289,0.258
7,8,삼성,0.267,313,7,47,652,76,0.395,0.337,0.732,96,0.277,0.262
8,9,SK,0.253,353,10,47,668,80,0.384,0.333,0.717,97,0.252,0.236
9,10,한화,0.235,310,4,53,712,87,0.326,0.312,0.638,95,0.233,0.203

In [6]:
# KBO 팀별 투수기록 크롤링
url = f"https://www.koreabaseball.com/Record/Team/Pitcher/Basic1.aspx"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

Player_infos = soup.find_all("tr")

list_columns = ["순위", "팀명", "ERA", "G", "W", "L", "SV", "HLD", "WPCT", "IP", "H", "HR", "BB", "HBP", "SO", "R", "ER", "WHIP"]
team_pitcher = pd.DataFrame(columns=list_columns)

bodys = soup.select("div[id=cphContents_cphContents_cphContents_udpContent] > div[class=record_result] > table > tbody > tr")


for pl_infos in bodys:

    list_tds = pl_infos.select("td")

    row_datas = []
    for td in list_tds:
        row_datas.append(td.text)

    series = pd.Series(row_datas, index=list_columns)
    team_pitcher = team_pitcher.append(series, ignore_index=True)

In [7]:
team_pitcher

,순위,팀명,ERA,G,W,L,SV,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
0,1,키움,4.37,101,60,41,30,63,0.594,899 1/3,937,92,287,53,671,474,437,1.36
1,2,LG,4.45,98,56,40,21,44,0.583,877 1/3,907,89,318,56,701,475,434,1.40
2,3,롯데,4.61,92,47,44,15,44,0.516,819 1/3,852,96,292,33,623,458,420,1.40
3,4,두산,4.67,97,53,41,17,35,0.564,866,981,76,330,41,643,504,449,1.51
4,5,KT,4.71,94,50,43,21,47,0.538,839 2/3,886,83,343,40,559,475,439,1.46
5,6,KIA,4.72,94,49,45,21,49,0.521,824,877,76,330,37,696,480,432,1.46
6,7,NC,4.74,94,57,35,21,48,0.620,847 2/3,845,103,347,52,675,471,446,1.41
7,8,삼성,4.74,96,43,52,19,58,0.453,841 1/3,870,96,369,48,585,497,443,1.47
8,9,한화,5.41,95,26,68,13,31,0.277,830 1/3,946,118,395,60,703,563,499,1.62
9,10,SK,5.62,97,32,64,14,38,0.333,845 2/3,924,107,438,59,669,580,528,1.61

In [8]:
# KBO 팀별 수비기록 크롤링
url = f"https://www.koreabaseball.com/Record/Team/Defense/Basic.aspx"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

Player_infos = soup.find_all("tr")

list_columns = ["순위", "팀명", "G", "E", "PKO", "PO", "A", "DP", "FPCT", "PB", "SB", "CS", "CS%"]
team_defense = pd.DataFrame(columns=list_columns)

bodys = soup.select("div[id=cphContents_cphContents_cphContents_udpContent] > div[class=record_result] > table > tbody > tr")


for pl_infos in bodys:

    list_tds = pl_infos.select("td")

    row_datas = []
    for td in list_tds:
        row_datas.append(td.text)

    series = pd.Series(row_datas, index=list_columns)
    team_defense = team_defense.append(series, ignore_index=True)

In [9]:
team_defense

   순위   팀명    G   E PKO    PO     A   DP   FPCT PB  SB  CS   CS%
0   1   키움  101  73  13  2697  1068  102  0.981  6  64  27  29.7
1   2   LG   97  49   5  2604   961   91  0.986  5  52  26  33.3
2   3   두산   96  60   5  2571   873   90  0.983  4  61  14  18.7
3   4   NC   94  49   5  2543   835   82  0.986  2  33  31  48.4
4   5   SK   97  71   5  2537   884   91  0.980  2  90  37  29.1
5   6   삼성   96  70   6  2523   898   95  0.980  2  40  26  39.4
6   7   KT   94  65   4  2517   970  102  0.982  8  43  13  23.2
7   8   한화   95  74   3  2491   858   93  0.978  7  80  32  28.6
8   9  KIA   94  69   6  2472   997  116  0.980  5  56  31  35.6
9  10   롯데   92  50   1  2458   935   88  0.985  5  70  18  20.5

In [10]:
# KBO 팀순위 크롤링
url = f"https://www.koreabaseball.com/TeamRank/TeamRank.aspx"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

Player_infos = soup.find_all("tr")

list_columns = ["순위", "팀명", "경기", "승", "패", "무", "승률", "게임차", "최근10경기", "연속", "홈", "방문"]
team_rank = pd.DataFrame(columns=list_columns)

bodys = soup.select("div[id=cphContents_cphContents_cphContents_udpRecord] > table[class=tData] > tbody > tr")


for pl_infos in bodys:

    list_tds = pl_infos.select("td")

    row_datas = []
    for td in list_tds:
        row_datas.append(td.text)

    series = pd.Series(row_datas, index=list_columns)
    team_rank = team_rank.append(series, ignore_index=True)

In [11]:
team_rank

   순위   팀명   경기   승   패  무     승률   게임차  최근10경기  연속        홈       방문
0   1   NC   94  57  35  2  0.620     0  6승0무4패  1패  30-1-16  27-1-19
1   2   키움  101  60  41  0  0.594   1.5  6승0무4패  1승  34-0-19  26-0-22
2   3   LG   98  56  40  2  0.583     3  6승1무3패  5승  25-2-21  31-0-19
3   4   두산   97  53  41  3  0.564     5  6승1무3패  1승  24-2-22  29-1-19
4   5   KT   94  50  43  1  0.538   7.5  5승0무5패  1승  28-0-18  22-1-25
5   6  KIA   94  49  45  0  0.521     9  5승0무5패  2승  29-0-18  20-0-27
6   7   롯데   92  47  44  1  0.516   9.5  5승0무5패  1패  27-0-19  20-1-25
7   8   삼성   96  43  52  1  0.453  15.5  3승0무7패  2패  24-0-26  19-1-26
8   9   SK   97  32  64  1  0.333    27  3승0무7패  4패  19-0-31  13-1-33
9  10   한화   95  26  68  1  0.277    32  4승0무6패  3패  13-1-30  13-0-38