In [2]:
# 데이터 크롤링 모듈
from bs4 import BeautifulSoup
import re
# 데이터 분석 모듈
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime
import requests
import requests
import json

In [7]:
import requests

import requests

cookies = {
    '_ga': 'GA1.2.1580790100.1597238208',
    'ASP.NET_SessionId': 'acdobzujtne5pbeprhrcmhhh',
    '_gid': 'GA1.2.1836254689.1599030529',
    '_gat_gtag_UA_158742616_7': '1',
    '_gat': '1',
}

headers = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/javascript, */*; q=0.01',
    'X-Requested-With': 'XMLHttpRequest',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.135 Safari/537.36',
    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
    'Origin': 'https://www.koreabaseball.com',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Dest': 'empty',
    'Referer': 'https://www.koreabaseball.com/Schedule/Schedule.aspx',
    'Accept-Language': 'ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7',
}

## 경기 일정과 정보들을 크롤링하는 코드

In [46]:
list_columns = ["Month", "Date", "PlaceName", "HomeName", "AwayName", "HomeScore", "AwayScore", "IsHomeWin"]

save_date = None
df = pd.DataFrame(columns = list_columns)

for month in range(5, datetime.today().month+1):
    data = {
      'leId': '1',
      'srIdList': '0,9',
      'seasonId': '2020',
      'gameMonth': str(month).zfill(2),
      'teamId': ''
    }

    response = requests.post('https://www.koreabaseball.com/ws/Schedule.asmx/GetScheduleList', headers=headers, cookies=cookies, data=data)
    json_data = json.loads(response.text)
    list_rows = json_data['rows']
    
    for rows in list_rows:
        dic_add = {"Month":None, "Date": None, "PlaceName": None, "HomeName":None,
                   "AwayName" : None, "HomeScore":None, "AwayScore":None, "IsHomeWin" : None}
        
        rows = rows["row"]
        minus_idx = -1
        
        #날짜 있는 데이터들 때문에 minus index해줌 행순서때문에
        if rows[0]['Class']=='day':
            save_date = rows[0]['Text']
            minus_idx = 0
        #우천 취소시 데이터에 담지 않음
        if rows[8+minus_idx]["Text"] !="-":
            continue
        
        #Month Day
        dic_add["Month"] = month
        dic_add["Date"] = save_date
        
        if month == datetime.today().month:
            data_day = int(save_date.split('.')[1][:2])
            real_today = datetime.today().today().day
            if data_day >= real_today:
                continue
        
        
        dic_add["PlaceName"] = rows[7 + minus_idx]["Text"]
        dic_add["HomeName"] = rows[2 + minus_idx]["Text"].lstrip("<span>").split("<")[0]
        dic_add["HomeName"] = rows[2 + minus_idx]["Text"].lstrip("<span>").split("<")[0]

        # MATCH STRING DATA
        match_data = rows[2+minus_idx]["Text"].lstrip("<span>").rstrip("</span>")
        
        SCORE = re.findall('\d+', match_data)
        
        dic_add["HomeScore"] = int(score[1])
        dic_add["AwayScore"] = int(score[0])
        
        #Home Win?
        if dic_add["HomeScore"] >  dic_add["AwayScore"]:
            dic_add["IsHomeWin"] = 2
        elif dic_add["HomeScore"] == dic_add["AwayScore"]:
            dic_add["IsHomeWin"]=1
        else:
            dic_add["IsHomeWin"]=0
        
        #CLUB NAME
        list_club_name = re.sub('<.*>', '.', match_data).split(".")
        dic_add["HomeName"] = list_club_name[1]
        dic_add['AwayName'] = list_club_name[0]
        
        df = df.append(dic_add, ignore_index= True)
        
df

    Month      Date PlaceName HomeName AwayName HomeScore AwayScore IsHomeWin
0       5  05.05(화)        잠실       LG       두산         2         5         0
1       5  05.05(화)        문학       SK       한화         2         5         0
2       5  05.05(화)        대구       삼성       NC         2         5         0
3       5  05.05(화)        수원       KT       롯데         2         5         0
4       5  05.05(화)        광주      KIA       키움         2         5         0
..    ...       ...       ...      ...      ...       ...       ...       ...
473     9  09.01(화)        잠실       두산       한화         2         5         0
474     9  09.01(화)        문학       SK       LG         2         5         0
475     9  09.01(화)        수원       KT       롯데         2         5         0
476     9  09.01(화)        광주      KIA       삼성         2         5         0
477     9  09.01(화)        고척       키움       NC         2         5         0

[478 rows x 8 columns]