In [1]:
# 데이터 크롤링 모듈
from bs4 import BeautifulSoup
import re
# 데이터 분석 모듈
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime
import requests
import requests
import json

In [3]:
group1 = pd.read_csv(r"C:\Users\injoo\광주 인공지능 사관학교\웜업 프로젝트\KBO 데이터 시각화\Dataset\player_infos_add_v01.csv")
all_players = pd.read_csv(r"C:\Users\injoo\광주 인공지능 사관학교\웜업 프로젝트\KBO 데이터 시각화\Dataset\players_salary_ID.csv")

In [6]:
group1.columns.values

array(['Unnamed: 0', '순위', '선수명', '팀명', '타율', '경기수', '타석', '타수', '득점',
       '안타', '2루타', '3루타', '홈런', '루타', '타점', '희생번트', '희생플라이', '선수ID',
       '생년월일', '신장', '체중', '입단계약금', '연봉', '지명순위', '볼넷', '고의사구', '사구',
       '삼진', '병살타', '장타율', '출루율', '실책', '도루성공률', '멀티히트', '출루율add장타율',
       '득점권타율', '대타타율', '사진URL'], dtype=object)

## 일단 KBO 홈페이지에 등록되어있는 선수 전체 데이터를 분석해보자

In [9]:
all_players = pd.read_csv(r"C:\Users\injoo\광주 인공지능 사관학교\웜업 프로젝트\KBO 데이터 시각화\Dataset\players_salary_ID.csv")

In [10]:
all_players.groupby("team").count()

          Unnamed: 0  playerID  name  salary  position
team
KIA 타이거즈          84        84    84      84        84
KT 위즈             97        97    97      97        97
LG 트윈스            85        85    85      85        85
NC 다이노스           94        94    94      94        94
SK 와이번스           84        84    84      84        84
고양 히어로즈           15        15    15      15        15
두산 베어스            92        92    92      92        92
롯데 자이언츠           82        82    82      82        82
삼성 라이온즈           83        83    83      83        83
상무                17        17    17      17        17
키움 히어로즈           65        65    65      65        65
한화 이글스            95        95    95      95        95